# node & Electron
node_modules/
dist/
build/
*.log
.DS_Store
*.sqlite
*.db
*.exe
*.temp

# Archivos de respaldo
*.bak
*.backup

# Archivos de configuración local
config.json

# Directorios de node.js
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos del sistema operativo
Thumbs.db

# Visual Studio Code
.vscode/

# Logs
logs
*.log
